<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gome.stage.mapper.rank.RankIndexFloorMapper" >

	<!--column不做限制，可以为任意表的字段，而property须为type 定义的pojo属性-->
	<resultMap id="Titles" type="com.gome.stage.entity.rank.Titles">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="PATHS" property="paths" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR" />
		<result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="PUBLIC_STAT" property="publicStat" jdbcType="CHAR" />
		<result column="CHECK_STAT" property="checkStat" jdbcType="CHAR" />
		<result column="SITE" property="site" jdbcType="VARCHAR" />
		<result column="INDEX_STAT" property="indexStat" jdbcType="CHAR" />
		<result column="SKU_ID" property="skuId" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="TitlesWithBLOBs" type="com.gome.stage.entity.rank.Titles" extends="Titles" >
		<result column="SOURCES" property="sources" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Titles_List" >
    ID, PATHS, TITLE, GOODS_ID, GOODS_NAME, CREATOR, CREATE_TIME, UPDATE_TIME, PUBLIC_STAT,
    CHECK_STAT, MODIFIER, EDIT_STAT, SITE, INDEX_STAT, SKU_ID
   </sql>
	<sql id="Blob_Titles_List" >
    SOURCES
   </sql>


	<select id="findCurrentTitlesByCreateTime"  resultMap="TitlesWithBLOBs">
		SELECT
		<include refid="Titles_List"/>
		,
		<include refid="Blob_Titles_List" />
		FROM t_titles
		WHERE  CREATE_TIME &lt; #{createtime}	 order by CREATE_TIME DESC  LIMIT 0,#{topnum}
	</select>




	<resultMap id="RankIndexFloor" type="com.gome.stage.entity.rank.RankIndexFloor">
		<result property="id" column="ID" jdbcType="INTEGER"/>
		<result property="categoryName" column="CATEGORY_NAME"  jdbcType="VARCHAR"/>
		<result property="categoryId" column="CATEGORY_ID" jdbcType="VARCHAR"/>
		<result property="priority" column="PRIORITY" jdbcType="INTEGER"/>
		<result property="isValid" column="IS_VALID" jdbcType="INTEGER"/>
		<result property="createTime" column="CREATE_TIME"  jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="UPDATE_TIME"  jdbcType="TIMESTAMP"/>
	</resultMap>


	<sql id="RankIndexFloor_List">
	  ID, CATEGORY_NAME, CATEGORY_ID, PRIORITY, IS_VALID, CREATE_TIME, UPDATE_TIME
	</sql>


	<select id="getShowFloor" resultMap="RankIndexFloor">
		SELECT
		<include refid="RankIndexFloor_List"/>
		FROM
		t_rank_index_floor
		where
		IS_VALID = 1
		order by PRIORITY DESC
	</select>

</mapper>