<!DOCTYPE html>
<html>
    #if($env=="live")
        #set($staticdomain = "gomein.net.cn")
        #set($gomedomain = "//www.gome.com.cn")
        #set($wapgomedomain = "//m.gome.com.cn")
    #else
        #set($staticdomain = "gomein.net.cn")
        #set($gomedomain = "//www.atguat.com.cn")
        #set($wapgomedomain = "//m.gome.com.cn")
    #end
    #set($urlHead = "newtop10")
    #set($urlEnd = "")
<head>
    <title>【${rank_category_info.categoryName}排行榜】_${rank_category_info.categoryName}什么牌子好_${rank_category_info.categoryName}排名推荐-国美排行榜</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="${rank_category_info.categoryName}什么牌子好,${rank_category_info.categoryName}十大品牌,${rank_category_info.categoryName}排行榜" />
    <meta name="description" content="${rank_category_info.categoryName}排行榜提供${rank_category_info.categoryName}排名信息，为你推荐受欢迎的${rank_category_info.categoryName}，告诉您${rank_category_info.categoryName}什么牌子好，还提供详细的选购参考信息" />
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="mobile-agent" content="format=html5; url=${wapgomedomain}/${urlHead}/${rank_category_info.cid}${urlEnd}">
    <link rel="canonical" href="${gomedomain}/${urlHead}/${rank_category_info.cid}${urlEnd}">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="${wapgomedomain}/${urlHead}/${rank_category_info.cid}${urlEnd}">
    <!--# include virtual="/n/common/global/global.html"-->
    <link rel="stylesheet" href="<!--# include virtual='/n/common/default/style.html'-->">
    <link href="//css.${staticdomain}/channels/pcrank/css/SEO-Ranking.css" rel="stylesheet">
    <link rel="shortcut icon" href="//app.gomein.net.cn/favicon.ico" type="image/x-icon">
</head>

<body>
<!-- 国美公共头 start -->
<!--# include virtual="/n/common/default/head.html"-->
<!-- 国美公共头 end -->
<script src="<!--# include virtual='/n/common/default/script.html'-->"></script>
<script src="//js.${staticdomain}/channels/pcrank/js/SEO-Ranking.js"></script>
<div class="w1200">
    <div class="other_cont clearfix">
        <div class="bread_crumbs">
            <a href="${gomedomain}/${urlHead}">排行榜首页</a>
            <i></i>
            <h1>${rank_category_info.categoryName}排行榜</h1>
        </div>
        <div class="sr_left">
            <div id="sr_category" class="sr_category">
                <ul class="nav-ul">
                    #foreach($item in $categorys)
                        #if($velocityCount == 1)
                        <li class="cat_item first">
                        #else
                        <li class="cat_item">
                        #end
                        <div class="cat_cont">
                            <div class="cat_lite">
                                <h3>
                                    <div class="links">
                                        <a href="javascript:">${item.parentName}</a>
                                    </div>
                                    <i class="arrow"></i>
                                </h3>
                                <div class="category3_lite">
                                    #foreach($category in $item.subList)
                                        #if($velocityCount <= 6)
                                            <a href="${gomedomain}/${urlHead}/${category.cid}${urlEnd}" target="_blank">${category.categoryName}</a>
                                        #end
                                    #end
                                </div>
                            </div>
                            <div class="cat_full">
                                <ul class="cat_list">
                                    #foreach($category in $item.subList)
                                        #if($velocityCount > 6)
                                            <li><a href="${gomedomain}/${urlHead}/${category.cid}${urlEnd}" target="_blank">${category.categoryName}</a></li>
                                        #end
                                    #end
                                </ul>
                            </div>
                        </div>
                    </li>
                    #end
                </ul>
            </div>
            <div class="left_link">
                <a href="${gomedomain}/${urlHead}/new-${rank_category_info.cid}${urlEnd}" target="_blank">${rank_category_info.categoryName}新品排行</a>
                <i></i>
            </div>
            <div class="left_link">
                <a href="${gomedomain}/${urlHead}/hot-${rank_category_info.cid}${urlEnd}" target="_blank">${rank_category_info.categoryName}爆品排行</a>
                <i></i>
            </div>
            <!--# include virtual="/n/common/ads/seorankzuoxia/index.html"-->
        </div>
        <div class="sr_right">
            <div class="filter_criteria">
                <div id="filter_box" class="filter_box">
                    <div class="sr_wbox">
                        <div class="filter_cont">
                            <h3>所有属性</h3>
                            <div class="item_cont">
                               #if($facets_brand)
                                <div class="item">
                                    <i class="name">品牌：</i>
                                    <div class="list_cont">
                                        <div class="select">
                                            #foreach($facet in $facets_brand)
                                                #if($velocityCount == 1)
                                                    <div class="default">${facet.value}</div>
                                                #end
                                            #end
                                            <i class="arrow"></i>
                                        </div>
                                        <div class="list">
                                            <div class="list_ul">
                                                <ul>
                                                    #foreach($facet in $facets_brand)
                                                        <li><b></b><a href="${gomedomain}/${urlHead}/brand-${facet.id}${urlEnd}" target="_blank">${facet.value}</a></li>
                                                    #end
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               #end
                               #if($facets_other)
                                <div class="item">
                                    <i class="name">功能特点：</i>
                                    <div class="list_cont">
                                        <div class="select">
                                            #foreach($facet in $facets_other)
                                                #if($velocityCount == 1)
                                                    <div class="default">${facet.value}</div>
                                                #end
                                            #end
                                            <i class="arrow"></i>
                                        </div>
                                        <div class="list list2">
                                            <div class="list_ul">
                                                <ul>
                                                    #foreach($facet in $facets_other)
                                                        <li><b></b><a href="${gomedomain}/${urlHead}/other-${facet.id}${urlEnd}" target="_blank">${facet.value}</a></li>
                                                    #end
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               #end
                               #if($facets_price)
                                <div class="item">
                                    <i class="name">价格区间：</i>
                                    <div class="list_cont">
                                        <div class="select">
                                            #foreach($facet in $facets_price)
                                                #if($velocityCount == 1)
                                                    <div class="default">${facet.value}</div>
                                                #end
                                            #end
                                            <i class="arrow"></i>
                                        </div>
                                        <div class="list list3">
                                            <div class="list_ul">
                                                <ul>
                                                    #foreach($facet in $facets_price)
                                                        <li><b></b><a href="${gomedomain}/${urlHead}/price-${facet.id}${urlEnd}" target="_blank">${facet.value}</a></li>
                                                    #end
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               #end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sr_floor">
                <div class="unify_height clearfix">
                    <div class="sf_left">
                        <div class="sf_border">
                            <div class="title"><h3>新品${rank_category_info.categoryName}排行</h3></div>
                            <div class="chart_box">
                                <div id="rank_new" class="sf_chart rank_new"></div>
                            </div>
                            <div class="goods_box">
                                <ul class="rank_tit">
                                    <li class="t1">排名</li>
                                    <li class="t1">商品图片</li>
                                    <li class="t2">商品名称</li>
                                    <li class="t3">价格</li>
                                </ul>
                                <div id="new_goods_list" class="goods_list format_num">
                                    <ul>
                                        #foreach($item in $list_new_product)
                                            #if($velocityCount<=10)
                                                <li data-time="${item.time}" data-appraise="${item.good}" data-grade="${item.evaluateNum}">
                                                    #if($velocityCount<=3)
                                                        <i class="num red">${velocityCount}</i>
                                                    #else
                                                        <i class="num">${velocityCount}</i>
                                                    #end
                                                    <a class="img" href="${item.purl}" target="_blank">
                                                        <img src="${item.iurl}">
                                                    </a>
                                                    <div class="name">
                                                        <a class="name_link" href="${item.purl}" target="_blank">${item.pn}</a>
                                                    </div>
                                                    <div class="inf">
                                                        #if(!${item.price})
                                                            <div class="price">暂无报价</div>
                                                        #else
                                                            <div class="price">&#165;<span>$number.format('.00',${item.price})</span></div>
                                                        #end
                                                        <div class="star"><b></b></div>
                                                        <div class="comment">评论：<a href="${item.purl}" target="_blank"><span>${item.evaluateCount}</span>条</a></div>
                                                    </div>
                                                </li>
                                            #end
                                        #end
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sf_right">
                        <div class="sf_border">
                            <div class="title"><h3>爆品${rank_category_info.categoryName}排行</h3></div>
                            <div class="chart_box">
                                <div id="rank_hot" class="sf_chart rank_hot"></div>
                            </div>
                            <div class="goods_box">
                                <ul class="rank_tit">
                                    <li class="t1">排名</li>
                                    <li class="t1">商品图片</li>
                                    <li class="t2">商品名称</li>
                                    <li class="t3">价格</li>
                                </ul>
                                <div id="hot_goods_list" class="goods_list format_num">
                                    <ul>
                                        #foreach($item in $list_hot_product)
                                            #if($velocityCount<=10)
                                                <li data-appraise="${item.good}" data-volume="${item.progressNum}" data-grade="${item.evaluateNum}">
                                                    #if($velocityCount<=3)
                                                        <i class="num red">${velocityCount}</i>
                                                    #else
                                                        <i class="num">${velocityCount}</i>
                                                    #end
                                                    <a class="img" href="${item.purl}" target="_blank">
                                                        <img src="${item.iurl}">
                                                    </a>
                                                    <div class="name">
                                                        <a class="name_link" href="${item.purl}" target="_blank">${item.pn}</a>
                                                    </div>
                                                    <div class="inf">
                                                        #if(!${item.price})
                                                            <div class="price">暂无报价</div>
                                                        #else
                                                            <div class="price">&#165;<span>$number.format('.00',${item.price})</span></div>
                                                        #end
                                                        <div class="star"><b></b></div>
                                                        <div class="comment">评论：<a href="${item.purl}" target="_blank"><span>${item.evaluateCount}</span>条</a></div>
                                                    </div>
                                                </li>
                                            #end
                                        #end
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sr_floor">
                <div class="sf_border top_brand wide_list">
                    <div class="title"><h3>${rank_category_info.categoryName}品牌排行</h3></div>
                    <div class="goods_box">
                        <ul class="rank_tit">
                            <li class="t1">排名</li>
                            <li class="t2">品牌名称</li>
                            <li class="t3">品牌销量</li>
                        </ul>
                        <div class="goods_list hover_unfold has_progress format_num">
                            <ul>
                                #foreach($item in $list_brand)
                                    #if($velocityCount<=10)
                                        #if($velocityCount == 1)
                                        <li class="on" data-volume="${item.progressNum}">
                                        #else
                                        <li data-volume="${item.progressNum}">
                                        #end
                                        <div class="td1">
                                            #if($velocityCount<=3)
                                                <i class="num red">${velocityCount}</i>
                                            #else
                                                <i class="num">${velocityCount}</i>
                                            #end
                                        </div>
                                        <div class="td2">
                                            <div class="name">
                                                <a class="name_link" href="//brand.gome.com.cn/${item.facetid}-0.html" target="_blank">${item.brandName}</a>
                                            </div>
                                            <a class="img" href="//brand.gome.com.cn/${item.facetid}-0.html" target="_blank">
                                                <img src="${item.brandLogoUrl}">
                                            </a>
                                        </div>
                                        <div class="td3">
                                            <div class="progress_box">
                                                <i class="progress_line"></i>
                                            </div>
                                            <div class="sale_num">已售<span>${item.brandSaleNum}</span>件</div>
                                        </div>
                                    </li>
                                    #end
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="${gomedomain}/${urlHead}/listbrand-${rank_category_info.cid}${urlEnd}" target="_blank">更多${rank_category_info.categoryName}排行榜&gt;&gt;</a>
                </div>
            </div>
            #foreach($item in $list_facets_product)
                <div class="sr_floor sr_floor2 ct_floor">
                    <div class="f_title"><i></i><h2>${rank_category_info.categoryName}${item.name}排行榜</h2></div>
                    <div class="unify_height clearfix">
                        #foreach($facteinfo in $item.list)
                            #if($facteinfo.list && $facteinfo.list.size() > 0)
                                <div class="sf_left">
                                    <div class="sf_border top_goods">
                                        <div class="title"><h3>${facteinfo.name}${rank_category_info.categoryName}销量top10</h3></div>
                                        <div class="goods_box">
                                            <ul class="rank_tit">
                                                <li class="t1">排名</li>
                                                <li class="t4">商品名称</li>
                                                <li class="t2">价格</li>
                                            </ul>
                                            <div class="goods_list hover_unfold format_num">
                                                <ul>
                                                    #foreach($info in $facteinfo.list)
                                                        #if($velocityCount<=10)
                                                            #if($velocityCount==1)
                                                            <li class="on" data-grade="${info.evaluateNum}">
                                                            #else
                                                            <li data-grade="${info.evaluateNum}">
                                                            #end
                                                            #if($velocityCount<=3)
                                                                <i class="num red">${velocityCount}</i>
                                                            #else
                                                                <i class="num">${velocityCount}</i>
                                                            #end
                                                            <div class="name">
                                                                <a class="name_link" href="${info.purl}" target="_blank">${info.pn}</a>
                                                                <a class="img" href="${info.purl}" target="_blank">
                                                                    <img src="${info.iurl}">
                                                                </a>
                                                            </div>
                                                            #if(!${info.price})
                                                                <div class="price">暂无报价</div>
                                                            #else
                                                                <div class="price">&#165;<span>$number.format('.00',${info.price})</span></div>
                                                            #end
                                                            <div class="inf">
                                                                <div class="star"><b></b></div>
                                                                <div class="comment">评论：<a href="${info.purl}" target="_blank"><span>${info.evaluateCount}</span>条</a></div>
                                                            </div>
                                                        </li>
                                                        #end
                                                    #end
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="more">
                                        <a href="${gomedomain}/${urlHead}/${facteinfo.path}${urlEnd}" target="_blank">更多${facteinfo.name}${rank_category_info.categoryName}排行榜&gt;&gt;</a>
                                    </div>
                                </div>
                            #end
                        #end
                    </div>
                </div>
            #end
            <div class="sr_floor">
                <div class="hot_links">
                    <div class="title">热门链接</div>
                    <div class="links_cont">
                        <ul>
                            #foreach($item in $list_hot_links)
                                <li><a href="${item.linkUrl}" target="_blank">${item.linkName}</a></li>
                            #end
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 国美公共页脚 start -->
<!--# include virtual="/n/common/default/foot.html"-->
<!-- 国美公共页脚 end -->
<script type="text/javascript" src="//js.gomein.net.cn/js/gz/adobe/s_code-gz.js"></script>
<script type="text/javascript">
    s.pageName="排行榜:${rank_category_info.categoryName}";
    s.channel="排行榜";
    s.prop1="排行榜:${rank_category_info.categoryName}";
    s.prop2="排行榜:${rank_category_info.categoryName}";
    s.prop3="排行榜:${rank_category_info.categoryName}";
    s.prop4="排行榜";
    var s_code=s.t();
    if(s_code)document.write(s_code);
</script>
##<script>
####    function(){
####        var bp = document.createElement('script');
####        var curProtocol = window.location.protocol.split(':')[0];
####        if (curProtocol === 'https') {
####            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
####        }
####        else {
####            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
####        }
####        var s = document.getElementsByTagName("script")[0];
####        s.parentNode.insertBefore(bp, s);
####    })();
####</script>
</body>
</html>