<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <title>热门专题-国美</title>
    <meta name="keywords" content="国美商品大全,热门专题大全,最新报价,价格,介绍,图片,评论,咨询,国美商城" />
    <meta name="description" content="国美(Gome.com.cn)热门产品大全,为您提供电视、洗衣机、电脑、手机、数码、空调、电脑配件、家用电器、服饰鞋帽等商品报价、价格、介绍、图片、评论、咨询信息。" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="//m.gome.com.cn/mtopic/">
    <meta name="mobile-agent" ontent="format=html5;url=//m.gome.com.cn/mtopic/">
    <meta name="applicable-device" content="pc">
     <!--# include virtual="/mblock/topic_gome_css_new.html" --> <!-- 引入CSS文件 -->
     <!--# include virtual="/n/common/global/global.html"-->
    <link rel="stylesheet" href="<!--# include virtual='/n/common/default/style.html'-->">
    #set($domainsite = '//www.gome.com.cn')
        #set($newtopicsite = '//www.gome.com.cn/')
    #set($topicsite = '//www.gome.com.cn/')
   
  <style type="text/css">
        a {
    color: #333;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: underline;
}
.link {
    color: #06c;
}
a.link:hover {
    color: #06c;
    text-decoration: underline;
}
.mini-pCol-row .yuan {
    font-size: 12px;
}
   </style>
</head>
<body class="w990">
    <!-- 国美公共头 start -->
    <!--# include virtual="/n/common/default/head.html"-->
    <!-- 国美公共头 end -->

    <script src="<!--# include virtual='/n/common/default/script.html'-->"></script>
    <!--# include virtual="/mblock/topic_gome_js_new.html" --> <!-- 引入JS文件 -->
    <script src="//js.gomein.net.cn/??/eccms/js/topics_js/100/4094485984.js,/f2ejs/g/jsCssImport.min.js" type="text/javascript"></script>
<div class="main clearfix">
<!-- crums -->
        <div class="crums"><a href="${domainsite}/">首页</a><em>></em>热门专题</div>
        <div class="left-main">
            <div class="p-title">
                <h1 class="name">热门专题</h1>
            </div>
            <!--  商品详细信息 -->
            <div class="p-main">
                <!-- .p-bd begin -->
                <div class="p-bd">
                    <div class="shop-more">
                        <p> 
                            <a href="${topicsite}topic/" class="all-list all-bg">全部</a>
                            #foreach ($ckey in $cindex_key)
                            #if ($ckey == 0)
                            <a href="${topicsite}topic/${ckey}.html">0-9</a>
                            #else
                            <a href="${topicsite}topic/${ckey}.html">${ckey}</a>
                            #end
                            #end
                        </p>
                        <ul class="all-more">

                                #foreach ($item in $cindexList)
                                    <li>
                                        #foreach($param in ${item.keySet()})
                                            #if($param == '0')
                                                <h4>0-9</h4>
                                            #else
                                                <h4>$param</h4>
                                            #end

                                            #foreach ($titleObj in $item.get($param))
                                                #if ($velocityCount < 12)
                                                    <span><a title="${titleObj.title}" href="${topicsite}${titleObj.paths}/" target="_blank">${titleObj.title}</a></span>
                                                #end
                                            #end
                                            <span><a href="${topicsite}topic/${param}.html" class="more-bg" target="_blank">更多 ></a></span>
                                        #end
                                    </li>
                                #end
                        </ul>
                    </div>
                </div>
                <!-- .p-bd end -->
            </div>
            <!--  商品详细信息结束 -->
            
        </div>
        <div class="right-aside">
            <!-- .jrtg begin -->
            <div class="column">
                <div class="c-hd"><h2 class="name"></h2></div>
                <div class="tuan">
                <!-- 广告位 -->
        <a href="javascript:" target="_blank" class="advert">
           <!--# include virtual="/n/common/ads/seoyoushang/index.html"-->
        </a>
                  </div>
            </div>
            <!-- .jrtg end -->

            <!-- .gmjzjc begin -->
            <div class="column">
                <div class="c-hd"><h2 class="name">国美家装城</h2></div>
          <div class="c-bd" style="padding:0">
             <div class="tuan">
                    <!-- 国美海外购 块引入  start -->
                     <!--# include virtual="/n/common/ads/seoyongxia/index.html"-->
                    <!-- 国美海外购 块引入  end -->
             </div>
         </div>
            </div>
            <!-- .gmjzjc end -->


            <!-- .ssms begin -->
             <!--  <div class="column">-->
              <!--   <div class="c-hd"><h2 class="name name-ms"></h2></div>-->
                <!-- 限时抢购 块进入 start -->
                <!--<coo8publishblock name="index_todaylimitbuy" type="0"/>-->
                                <!-- 限时抢购 块进入 end -->
            <!-- </div>-->
            <!-- .ssms end -->
            
            <!-- .zxspzs begin -->
            <div class="column">
                <div class="c-hd"><a target="_blank" href="//www.gome.com.cn/topic/know.html" class="more">更多<em>></em></a><h2 class="name">最新商品知识</h2></div>
                <!-- 最新商品知识 块引入  start -->
                <!-- <coo8publishblock name="index_lastst_news" type="0"/> -->
                <!-- 最新商品知识 块引入  end -->
                <div class="c-bd">
                    <ul class="zxspzs">
                        #foreach($item in $recentNews)
                            <li><b></b><a target="_blank" href="//www.gome.com.cn/${item.paths}/know/${item.id}.html" title="${item.topic}">${item.topic}</a></li>
                        #end
                    </ul>
                </div>
            </div>
            <!-- .zxspzs end -->

          <!-- .gmjzjc begin -->
            <div class="column">
                <div class="c-hd"><h2 class="name">国美活动</h2></div>
          <div class="c-bd" style="padding:0">
             <div class="tuan">
                    <!-- 活动图2 块引入  start -->
                    <!-- <coo8publishblock name="index_home_decoration" type="0"/> -->
                    <!-- 活动图2 块引入  end -->

                 <div class="tuan-cons">
                     <div class="tuan-con" style="display:block">
                         <a rel="nofollow" class="imgs" href="http://homes.gome.com.cn/" target="_blank" title="家装城">
                             <img src="http://gfs10.gomein.net.cn/T1H2EvBCLb1RCvBVdK" alt="家装城">
                         </a>
                     </div>
                 </div>
             </div>
         </div>
            </div>
            <!-- .gmjzjc end -->
        </div>
    </div>

    <!-- 国美公共页脚 start -->
       <!--# include virtual="/n/common/default/foot.html"-->
    <!-- 国美公共页脚 end -->

    <script type="text/javascript" src="//js.gome.com.cn/js/gz/adobe/s_code-gz.js"></script>
    <script language="javascript">
       s.pageName="热门专题:首页";
       s.channel=s.pageName.split(':')[0];
       s.prop1=s.pageName.split(':')[0]+":"+s.pageName.split(':')[1];
       s.prop4="热门专题";
       s.eVar3="专题";
       var s_code=s.t();
       if(s_code)document.write(s_code);
    </script>

##    <script>
##(function(){
##    var bp = document.createElement('script');
##    bp.src = '//push.zhanzhang.baidu.com/push.js';
##    var s = document.getElementsByTagName("script")[0];
##    s.parentNode.insertBefore(bp, s);
##})();
##</script>
</body>   
</html>